.Toolbar {
  display: flex;
  gap: 5rem;
  height: 100%;
  align-items: center;

  .icon {
    display: inline-block;
    width: 2.4rem;
    height: 4rem;
    padding: 0.8rem 0;
    color: var(--primary-main);
    transition: color 220ms ease-out;

    &:hover {
      color: var(--link-hover-color);
    }

    &.selected {
      border-bottom: 0.4rem solid;
      color: var(--link-hover-color);
    }
  }
}
