.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
}

.katalogcontainer {
  margin-top: 50px;
}

.katalogitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  border: 1px solid;
  padding: 10px;
  border-color: lightgray;
  border-radius: 5px;
  margin: 10px;
}

.katalogitem p {
  margin: 0;
}

.newkatalogbutton {
  width: 100px;
  height: 50px;
  align-self: flex-end;
}

.editbutton {
  height: 25px;
}

button {
  background-color: #005b91;
  color: white;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
