#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
}

.katalogitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  border: 1px solid;
  padding: 10px;
  border-color: lightgray;
  border-radius: 5px;
  margin: 10px;
}

.katalogitem p {
  margin: 0;
}

.newkatalogbutton {
  width: 100px;
  height: 50px;
  align-self: flex-end;
}

.editbutton {
  height: 25px;
}

button {
  background-color: #005b91;
  color: white;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
