.FormProvider {
  .VerticalTextCtrl {
    div {
      &[data-children='true'] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: var(--tiny-gap);
      }
    }
  }

  span:first-child {
    &[data-required='true'] {
      &:after {
        position: absolute;
        content: '*';
        color: var(--error-color);
        font-size: var(--normal-fontsize);
        margin-left: var(--micro-gap);
      }
    }
  }
}
