.QuestionCard {
  padding: var(--tiny-gap);

  .cardTitle {
    display: flex;
    padding-left: var(--small-gap);
    align-self: center;
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    gap: var(--tiny-gap);
    margin: var(--tiny-gap);
  }
}
