.QuestionSpecificationGrid {
  row-gap: var(--tiny-gap);

  .arrow {
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .centeredText {
    align-self: center;
    text-align: center;
  }

  .text {
    align-self: center;
  }

  .delete {
    align-self: center;
    margin-left: var(--tiny-gap);
    cursor: pointer;
  }

  .unit {
    align-self: center;
    margin-left: var(--tiny-gap);
  }
}
