.Projects {
  display: flex;
  flex-direction: column;
  max-width: 124rem;
  padding: 0;

  .TitleContainer {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 4rem;
    padding: 8rem 4rem 4rem;

    h1 {
      color: var(--primary-color);
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }

    img {
      width: 100%;
    }
  }

  .ContentContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    min-height: 0;
    margin-bottom: 2rem;
  }

  .ListContainer {
    .List {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      width: 100%;
      height: 100%;
      padding-top: 0;
      list-style: none;

      .Item {
        width: 100%;
        padding: 0;
        overflow: hidden;
        text-decoration: none;
        transition: all 120ms ease-out;

        .IconButton {
          color: var(--primary-color);
          transition: all 120ms ease-out;
        }

        .TitleButton {
          display: flex;
          justify-content: space-between;
          font-family: var(--header-font);
          font-size: var(--big-fontsize);
        }

        .ItemCard {
          width: 100%;
          height: 10rem;
          border: 0.1rem solid var(--border-color-secondary);
          box-shadow: none;
          background: white;
          color: inherit;
          text-decoration: none;
          cursor: pointer;
          transition: all 120ms ease-out;

          .CardContent {
            display: flex;
            flex-direction: column;
            gap: var(--tiny-gap);
            padding: var(--small-gap) var(--normal-gap);
            padding-right: var(--large-gap);
          }
        }

        &:hover {
          color: white;

          .ItemCard {
            background-color: var(--primary-color);
          }

          .IconButton {
            color: inherit;
            transition: all 120ms ease-out;

            &:hover {
              color: var(--error-color);
            }
          }
        }
      }

      .Divider {
        color: var(--line-color);
        border-color: var(--line-color);
        transition: all 120ms ease-out;
      }

      .Link {
        width: 100%;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .Projects {
    .TitleContainer {
      display: block;
      padding: 4rem 2rem 2rem;

      img {
        display: none;
      }
    }

    .SearchContainer {
      padding: 0 2rem;
    }

    .ListContainer {
      padding: 0 1rem 0 2rem;
    }
  }
}
