.Projects {
  display: flex;
  flex-direction: column;
  max-width: 124rem;
  height: calc(100vh - var(--header-height));
  margin: 0 auto;
  padding: 0;

  .TitleContainer {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 4rem;
    padding: 8rem 4rem 4rem;

    > div {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }

    img {
      width: 100%;
    }
  }

  .ContentContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    min-height: 0;
    margin-bottom: 2rem;
  }

  .SearchContainer {
    padding: 0 4rem;
  }

  .ListContainer {
    padding: 0 3rem 0 4rem;

    .List {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      width: 100%;
      height: 100%;
      padding-top: 0;
      list-style: none;
    }
  }
}

@media only screen and (max-width: 650px) {
  .Projects {
    .TitleContainer {
      display: block;
      padding: 4rem 2rem 2rem;

      img {
        display: none;
      }
    }

    .SearchContainer {
      padding: 0 2rem;
    }

    .ListContainer {
      padding: 0 1rem 0 2rem;
    }
  }
}
