.header {
  width: 40vw;
  margin-bottom: 4rem;
  margin-top: 2rem;
  &__saveButton {
    margin-top: 1rem;
  }
}

.publication {
  margin-top: 2rem;
  width: 50vw;
  &__addButton {
    margin-top: 1rem;
  }
}

.publicationList {
  margin-top: 2rem;
  width: 50vw;
}
