.ProductRequirementAnswer {
  display: flex;
  flex-direction: column;
  padding: var(--normal-gap) 0;
  gap: var(--tiny-gap);
  font-size: var(--small-fontsize);

  .title {
    display: flex;
    justify-content: space-between;
    font-weight: var(--font-weight-bold);
  }

  div {
    &[data-cy='evaluated-discount'] {
      margin-left: auto;
    }
  }

  &__textDiscountTable {
    display: flex;
    flex-direction: column;
    gap: var(--tiny-gap);
    max-width: 20%;

    span:first-child {
      font-weight: var(--font-weight-semibold);
    }

    span:nth-child(odd) {
      background-color: var(--secondary-gray-color);
    }
  }

  .discountLevelsTilte {
    font-weight: var(--font-weight-bold);
  }
}
