.ProductRequirementAnswer {
  display: flex;
  flex-direction: column;
  padding: var(--normal-gap) 0;
  gap: var(--tiny-gap);

  .title {
    display: flex;
    justify-content: space-between;
    font-size: var(--small-fontsize);
    font-weight: var(--font-weight-bold);
  }
}
