@import '../dfo-theme.scss';

.container {
  height: 50vh;
  display: flex;
  justify-content: center; /* center items vertically, in this case */
  align-items: center;

  .loginCard {
    width: 25rem;

    &__submitButton {
      float: right;
    }
  }
}
