.QuestionGrid {
  display: grid;
  grid-template-columns: 8fr 1fr 8fr 3fr;
  row-gap: var(--tiny-gap);

  .FullRow {
    grid-column: 1 / 5;
  }

  .TopMargin {
    margin-top: var(--small-gap);
  }

  .Arrow {
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .CenteredText {
    align-self: center;
    text-align: center;
  }

  .Delete {
    align-self: center;
    margin-left: var(--tiny-gap);
    cursor: pointer;
  }

  .Unit {
    align-self: center;
    margin-left: var(--tiny-gap);
  }
}
