.QuestionGrid {
  display: grid;
  grid-template-columns: 8fr 1fr 8fr 3fr;
  row-gap: var(--tiny-gap);

  .FullRow {
    grid-column: 1 / 5;
  }

  .TopMargin {
    margin-top: var(--small-gap);
  }

  .Arrow {
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .Delete {
    align-self: center;
    margin-left: var(--tiny-gap);
    cursor: pointer;
  }

  .Unit {
    align-self: center;
    margin-left: var(--tiny-gap);
  }
}

.QuestionSliderContainer {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);

  .QuestionSlider {
    width: 70%;
    display: grid;
    grid-template-columns: 6fr 4fr 6fr;
    gap: var(--small-gap);

    &__textCtrl {
      span[aria-label='label'] {
        margin-bottom: var(--tiny-gap);
        font-weight: var(--font-weight-semibold);
      }
    }

    .CheckboxLabel {
      margin-left: var(--tiny-gap);
    }
  }
}

.QuestionCriteria {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);

  &__wrapper {
    max-width: 70%;
    display: flex;
    gap: var(--normal-gap);

    &__textCtrlContainer {
      display: flex;
      flex-direction: column;
      gap: var(--tiny-gap);
    }

    &__textCtrl {
      display: flex;
      gap: var(--tiny-gap);
      padding: var(--micro-gap);

      &__horizontalTextCtrl {
        max-width: 20rem;
        font-weight: var(--font-weight-semibold);
      }

      &__action {
        margin-bottom: 5rem;
        font-weight: var(--font-weight-semibold);
        font-size: var(--small-fontsize);
        padding-top: 0;
        padding-bottom: 0;
      }

      &__delete {
        font-weight: var(--font-weight-semibold);
        font-size: var(--small-fontsize);
      }

      &:nth-child(odd) {
        background-color: var(--secondary-gray-color);
      }
    }
  }
}

.QuestionFlex {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);

  &__textCtrl {
    display: flex;
    flex-direction: column;
    gap: var(--tiny-gap);
    max-width: 20%;
    font-weight: var(--font-weight-semibold);
  }

  &__textAreaCtrl {
    max-width: 40%;
  }

  .TopMargin {
    margin-top: var(--small-gap);
  }

  .CheckboxLabel {
    margin-left: var(--tiny-gap);
  }

  ul {
    border: 0.1rem solid var(--gray-color);
    background: var(--light-gray-color);
    padding: var(--small-gap);
    margin: 0;
    list-style: none;

    li {
      display: grid;
      grid-template-columns: 6rem 1fr 1fr 15rem 15rem;
      border: 0.1rem solid var(--gray-color);
      background: white;
      margin-top: -0.1rem;
      min-height: 5rem;

      .Title {
        align-self: center;
        padding: 0 var(--small-gap);
        cursor: pointer;
      }

      .Description {
        align-self: center;
        padding: 0 var(--small-gap);
        margin: var(--tiny-gap) 0;
        border-left: 0.1rem solid var(--gray-color);
        cursor: pointer;
      }

      .Ctrl {
        display: flex;
        gap: var(--tiny-gap);
        align-items: center;
        height: 3.4rem;
        padding: 0 var(--small-gap);
        margin: auto;
      }
    }
  }
}

.QuestionDateAndTime {
  display: flex;
  gap: var(--normal-gap);
}

.QuestionDateAndTimePeriod {
  display: flex;
  flex-direction: column;
  gap: var(--normal-gap);

  &__datetimeContainer {
    display: flex;
    gap: var(--small-gap);
    max-width: 50%;
  }
}
