@import '../../../../dfo-theme.module.scss';

@for $i from 0 through 0 {
  $margin: 1rem;
  .level#{$i} {
    margin-top: $margin;
    width: 95% !important;
  }
}

@for $i from 1 through 9 {
  $margin: 10% * $i;
  .level#{$i} {
    margin-left: $margin;
    width: 95% - $margin !important;
  }
}
