.Toolbar {
  display: flex;
  flex-direction: row;
  gap: var(--small-gap);

  &[data-padding='true'] {
    padding: 1rem;
  }

  &[data-gap='none'] {
    gap: 0;
  }

  &[data-gap='sm'] {
    gap: calc(var(--small-gap) * 0.5);
  }

  &[data-gap='md'] {
    gap: calc(var(--small-gap) * 2);
  }

  &[data-gap='lg'] {
    gap: calc(var(--small-gap) * 4);
  }

  p,
  span,
  svg {
    font-size: var(--normal-fontsize);
    align-self: center;
  }

  &[data-spacing='around'] {
    justify-content: space-around;
  }

  &[data-spacing='between'] {
    justify-content: space-between;
  }

  &[data-spacing='stretch'] {
    justify-content: stretch;
  }

  div {
    display: flex;
    flex-direction: row;
    gap: var(--tiny-gap);
    width: fit-content;

    &[data-font-size='small'] {
      p,
      span,
      svg {
        font-size: var(--small-fontsize);
      }
    }
    &[data-font-size='larg'] {
      p,
      span,
      svg {
        font-size: var(--large-fontsize);
      }
    }
    &[data-font-sizet='big'] {
      p,
      span,
      svg {
        font-size: var(--big-fontsize);
      }
    }
    &[data-font-sizet='giant'] {
      p,
      span,
      svg {
        font-size: var(--giant-fontsize);
      }
    }

    &[data-change='true'] {
      cursor: pointer;
      &:hover {
        background-color: var(--hover-gray-color);
      }
      &:active {
        background-color: var(--text-primary-color);
        color: var(--white-color);
      }
      &:focus {
        border: 0.2rem var(--text-primary-color) solid;
        background-color: inherit;
      }
      &[data-disabled='true'] {
        background-color: var(--border-color-secondary);
        color: var(--white-color);
        cursor: auto;
      }
    }

    p {
      font-weight: var(--font-weight-semibold);
    }
    &[data-font-weight='normal'] {
      font-weight: var(--font-weight-normal);
    }
    &[data-font-weight='semibold'] {
      font-weight: var(--font-weight-semibold);
    }
    &[data-font-weight='bold'] {
      font-weight: var(--font-weight-bold);
    }
  }
}
