.HomePage {
  display: flex;
  min-height: 0;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--small-gap) var(--xlarge-gap);

  .Content {
    width: 100%;
    height: 100%;
  }

  .Columns {
    display: flex;
    flex-basis: 50%;
    margin: 0;
    gap: var(--big-gap);

    .Column {
      flex-basis: 50%;
      margin-bottom: var(--big-gap);
    }
  }

  .Cards {
    gap: var(--normal-gap);
  }

  .Card {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 220ms ease-out;

    &.Primary {
      background: var(--primary-color);
      color: white;

      &:hover {
        background: white;
        color: var(--primary-color);
      }
    }

    &.Tertiary {
      background: var(--tertiary-color);

      &:hover {
        background: white;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 0 var(--small-gap);
      justify-content: center;
      align-items: center;
    }

    a {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: var(--normal-gap);
      color: inherit;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      transition: all 220ms ease-out;

      &:hover {
        color: inherit;
      }
    }

    label {
      display: block;
      font-family: var(--header-font);
      font-size: var(--large-fontsize);
      font-weight: 600;
      text-align: center;
      cursor: pointer;
    }

    span {
      display: block;
    }
  }

  .DisplayList {
    flex-basis: 50%;

    .Header {
      color: var(--primary-color);
    }

    .Time {
      color: var(--gray-color);
      font-size: var(--small-fontsize);
      text-align: right;
      white-space: nowrap;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        flex-direction: row;
        gap: var(--tiny-gap);
        padding: var(--small-gap) var(--normal-gap);
        border-bottom: 0.1rem solid var(--secondary-color);
        color: var(--primary-color);
        cursor: pointer;
        transition: color 180ms ease-out;

        &:first-child {
          border-top: 0.1rem solid var(--secondary-color);
        }

        .Time {
          margin-left: auto;
        }

        &:hover {
          color: var(--link-hover-color);
        }
      }
    }
  }
}
