.Selection {
  display: flex;
  flex-direction: column;
  font-size: var(--small-fontsize);
  box-sizing: border-box;

  .SelectionItems {
    display: flex;
    gap: var(--large-gap);
    border-bottom: 0.1rem solid var(--gray-color);
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3rem;

    > * {
      flex: 0 auto;
    }

    &:last-child {
      border: none;
    }

    .itemTitle {
      display: flex;
      gap: var(--tiny-gap);
      align-items: center;
      width: 10%;

      &[data-manatory='true'] {
        font-weight: bold;
      }
    }
  }
}
