.Selection {
  display: flex;
  flex-direction: column;
  font-size: var(--small-fontsize);
  box-sizing: border-box;
  padding-top: 1rem;

  .SelectionItems {
    display: flex;
    gap: var(--large-gap);
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3rem;

    &[data-pre-response='true'] {
      border-bottom: 0.1rem solid var(--gray-color);
    }

    > * {
      flex: 0 auto;
    }

    &:last-child {
      border: none;
    }

    .itemTitle {
      display: flex;
      gap: var(--tiny-gap);
      align-items: center;

      &[data-disabled='true'] {
        path {
          fill: var(--secondary-gray-color);
        }
      }

      span {
        &[data-mandatory='true'] {
          font-weight: var(--font-weight-semibold);
        }
      }
    }
  }

  label {
    font-weight: var(--font-weight-semibold);
  }

  .info {
    padding-bottom: 1rem;
    color: var(--warning-color-secondary);
  }

  .error {
    padding-bottom: 1rem;
    color: var(--error-color);
  }
}
