.BarStyling {
  width: 350px;
  background: '#F2F1F9';
  border: 'none';
  padding: '0.5rem';
}

.katalogitem {
  display: flex;
  justify-content: space-between;
  width: 340px;
  padding: 5px;
  margin: 20px 0 20px 0;
}

.katalogitem p {
  margin: 0;
}

.editbutton {
  height: 25px;
}
