@import './../dfo-theme.scss';

.BarStyling {
  width: 350px;
  background: $dfo-input-background;
}

.katalogitem {
  display: flex;
  justify-content: space-between;
}

.katalogitem p {
  margin: 0;
}
