.BarStyling {
  width: '20rem';
  background: '#F2F1F9';
  border: 'none';
  padding: '0.5rem';
}

.katalogitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  border: 1px solid;
  padding: 10px;
  border-color: lightgray;
  border-radius: 5px;
  margin: 10px;
}

.katalogitem p {
  color: #005b91;
  margin: 0;
}

.editbutton {
  height: 25px;
}
