.QuestionAnswer {
  .HorizontalContent {
    display: flex;
    flex-direction: row;
    gap: var(--tiny-gap);
    align-items: center;
  }

  .Buttons {
    display: flex;
    flex-direction: row;
    margin-top: var(--small-gap);

    .Cancel {
      margin-left: auto;
    }

    .Save {
      margin-left: var(--small-gap);
    }
  }
}
