.QuestionAnswer {
  .Buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--normal-gap);
    margin-top: var(--small-gap);

    button {
      font-size: var(--small-fontsize);
    }

    .Cancel {
      margin-left: auto;
    }

    .Save {
      margin-left: var(--small-gap);
    }
  }

  .TextAreaCtrl {
    max-width: 25.5rem;
  }

  .info {
    padding-top: 1rem;
    color: var(--warning-color-secondary);
  }

  .error {
    padding-top: 1rem;
    color: var(--error-color);
  }
}
