.ProductRequirement {
  .card {
    display: flex;
    flex-direction: column;

    &__description {
      width: 70%;
      max-width: fit-content;
    }

    .variant {
      border: 0.1rem var(--border-color-secondary) solid;
    }
  }

  .active {
    padding: var(--small-gap);
  }

  .selected {
    border: 0.2rem solid var(--tertiary-color);
    flex-direction: row;
    padding: var(--small-gap);
    background-color: var(--white-color);
    margin-top: var(--small-gap);

    .check {
      color: var(--tertiary-color);
    }

    .choose {
      align-self: center;
      margin-left: auto;
      width: fit-content;
    }
  }

  .formButtons {
    display: flex;
    flex-direction: row;
    margin-top: var(--small-gap);

    .cancel {
      margin-left: auto;
    }

    .save {
      margin-left: var(--small-gap);
    }
  }
}
