.ProductRequirement {
  --from-checkbox-gap: 1.2rem;

  .card {
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    padding: var(--small-gap);
    padding-left: var(--normal-gap);
    padding-right: var(--normal-gap);
    margin: var(--normal-gap) 0;

    .title {
      margin-left: var(--big-gap);
      border-bottom: 0.1rem solid;
    }
  }

  .active {
    padding: var(--small-gap);
  }

  .selected {
    border: 0.2rem solid var(--primary-color);
    flex-direction: row;

    .info {
      width: 100%;
      margin-left: var(--small-gap);

      .aboveDivider {
        display: flex;
        flex-direction: row;

        .title {
          margin-left: 0;
          border-bottom: none;
        }

        .weighting {
          display: flex;
          flex: 0 0 30%;
          margin-left: auto;
          padding-left: var(--small-gap);
          margin-right: var(--small-gap);

          .weightingText {
            display: flex;
            margin-left: auto;
            align-self: center;
          }
        }
      }
      .divider {
        color: black;
        margin: var(--micro-gap) 0;
      }
    }
  }

  .formButtons {
    display: flex;
    flex-direction: row;
    margin-top: var(--small-gap);

    .cancel {
      margin-left: auto;
    }

    .save {
      margin-left: var(--small-gap);
    }
  }
}
