@import '../../dfo-theme.module.scss';

.sidebar {
  border-right: $dfo-light-border;
  background-color: $light;
  height: 100%;
  min-height: 100vh;
  &__item {
    &__active {
      color: $purple;
    }
  }
}
