.sidebar {
  border-right: 10.1rem solid rgba(0, 0, 0, 0.125);
  background-color: #e5e5e5;
  height: 100%;
  min-height: 100vh;
  &__item {
    &__active {
      color: var(--secondary-color);
    }
  }
}
