.EditorFullPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--big-gap);
  background: var(--light-gray-color);
  color: var(--primary-color);

  .overview {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);

    &__content {
      display: flex;
      flex-direction: column;
      gap: var(--small-gap);
      padding: var(--small-gap) var(--xlarge-gap);
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: var(--normal-gap);
      align-self: center;
      padding: 0;
      margin: 0;
      list-style: none;
      width: 100%;

      &[aria-label='general-products'] {
        .CardContent {
          div:last-child {
            margin-left: auto;
            margin-bottom: 1rem;
          }
        }
      }

      li {
        border: 0.1rem var(--border-color-secondary) solid;
        background: white;
        transition: all 220ms ease-out;
        min-height: 10rem;

        &:hover {
          border-color: var(--border-color);
        }

        .CardContent {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: var(--tiny-gap);
          padding: var(--small-gap);

          .CardTitle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: var(--normal-gap);

            p {
              font-size: var(--normal-fontsize);
              font-weight: var(--font-weight-semibold);
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .Description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .General {
            display: flex;
            flex-direction: column;

            &:last-child {
              div {
                margin-left: auto;
              }
            }
          }
        }
      }
    }

    .Divider {
      margin-bottom: var(--small-gap);
    }
  }

  .Content {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--large-gap);

    .Button {
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
      width: 100%;
      padding: 1rem;
    }

    .Price {
      display: flex;
      flex-direction: row;
      gap: var(--tiny-gap);
      width: fit-content;
      margin-left: auto;
      margin-top: var(--small-gap);
      align-items: center;
    }

    .HeaderBottom {
      display: flex;
      flex-direction: row;
      padding-top: var(--small-gap);

      .ProductType {
        margin-left: auto;
        padding-right: var(--normal-gap);
      }
    }

    .Percentage {
      display: flex;
      justify-content: flex-end;
      font-size: var(--large-fontsize);
      font-weight: 600;
      color: var(--dark-gray-color);
      margin-top: var(--normal-gap);

      + .Need {
        margin-top: 0;
      }
    }
  }

  .formButtons {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--normal-gap);

    button {
      font-size: var(--small-fontsize);
    }
  }

  .RequirementAnswered {
    &__yes {
      color: var(--tertiary-color);
    }

    &__no {
      color: var(--error-color);
    }
  }

  .ProductOverview {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    margin-bottom: var(--large-gap);

    &__content {
      display: flex;
      flex-direction: column;
      gap: var(--small-gap);
      padding: var(--small-gap) var(--xlarge-gap);

      .ProductRequirements {
        padding: var(--normal-gap);
        background-color: var(--white-color);

        .NeedTittle {
          font-weight: var(--font-weight-bold);
        }
      }
    }

    .Needs {
      display: flex;
      flex-direction: column;
      gap: var(--small-gap);
    }

    .Actions {
      &__disabled {
        background-color: var(--border-color-secondary);
      }

      &__warning {
        color: var(--warning-color-secondary);
      }
    }
  }
}
