.Editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250rem;
  gap: var(--big-gap);
  margin: 0 auto;
  padding: var(--big-gap);
  background: white;

  .Content {
    display: flex;
    flex-direction: column;

    .Button {
      margin-left: auto;
      width: 10rem;
    }

    .HeaderTop {
      display: flex;
      flex-direction: row;
      padding-bottom: var(--micro-gap);
      border-bottom: 0.1rem solid;
    }

    .HeaderBottom {
      display: flex;
      flex-direction: row;
      padding-top: var(--small-gap);

      .ProductType {
        margin-left: auto;
        padding-right: var(--normal-gap);
      }
    }

    .Need {
      background: var(--primary-light-color);
      color: white;
      padding: var(--micro-gap);
      padding-left: var(--normal-gap);
      margin: var(--normal-gap) 0;
    }

    .Percentage {
      display: flex;
      justify-content: flex-end;
      font-size: var(--large-fontsize);
      font-weight: 600;
      color: var(--dark-gray-color);
      margin-top: var(--normal-gap);

      + .Need {
        margin-top: 0;
      }
    }
  }
}
