.Editor {
  display: grid;
  grid-template-columns: 25% auto;
  width: 100%;
  max-width: 250rem;
  gap: var(--big-gap);
  margin: 0 auto;
  padding: var(--big-gap);

  .SideBar {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);

    ul {
      display: flex;
      flex-direction: column;
      gap: var(--normal-gap);
      align-self: center;
      padding: 0;
      margin: 0;
      list-style: none;
      width: 100%;

      li {
        border: 0.1rem var(--border-color-secondary) solid;
        border-radius: 0.5rem;
        background: white;
        transition: all 220ms ease-out;
        cursor: pointer;
        min-height: 10rem;

        &:hover {
          background: var(--link-hover-color);
        }

        &.Active {
          background: var(--primary-color);
          color: white;
          cursor: default;
        }

        .CardContent {
          display: flex;
          flex-direction: column;
          gap: var(--tiny-gap);
          padding: var(--small-gap);

          .CardTitle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: var(--normal-gap);
          }

          .Text {
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .Button {
      display: flex;
      justify-content: flex-end;
    }

    .Divider {
      margin-bottom: var(--small-gap);
    }
  }

  .Content {
    display: flex;
    flex-direction: column;

    .Need {
      background: var(--primary-light-color);
      color: white;
      padding: var(--micro-gap);
      padding-left: var(--normal-gap);
      margin: var(--normal-gap) 0;
    }

    .Percentage {
      display: flex;
      justify-content: flex-end;
      color: var(--gray-color);
      margin-top: var(--normal-gap);

      + .Need {
        margin-top: 0;
      }
    }
  }
}
