.Badge {
  --badge-border-color: var(--gray-color);

  display: flex;
  flex-direction: row;
  gap: var(--tiny-gap);
  padding: var(--nano-gap) var(--tiny-gap);
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--badge-border-color);

  span {
    font-size: var(--small-fontsize);
    font-weight: var(--font-weight-semibold);
  }

  svg {
    font-size: var(--normal-fontsize);
  }

  &[data-badge-type] {
    &[data-badge-type='information'] {
      background-color: var(--border-color-secondary);
    }
    &[data-badge-type='requirement'] {
      background-color: var(--tertiary-secondary-color);
      --badge-border-color: var(--border-tertiary-color);
    }
    &[data-badge-type='award'] {
      background-color: var(--award-color);
      --badge-border-color: var(--warning-color);
    }
    &[data-badge-type='error'] {
      background-color: var(--error-color);
    }
    &[data-badge-type='warning'] {
      background-color: var(--warning-color);
    }
    &[data-badge-type='primary'] {
      background-color: var(--primary-color);
      color: var(--white-color);
    }
    &[data-badge-type='Properties'] {
      background-color: var(--primary-color);
      color: var(--white-color);
      svg path {
        fill: var(--white-color);
      }
    }
  }
}
