.listitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  padding: 10px;
  margin: 10px;
}

.listitem p {
  color: #005b91;
  margin: 0;
}

.editbutton {
  height: 25px;
}

.subsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.subsection button {
  height: 30px;
  margin: 15px;
}

.formwrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  margin: 100px;
}

.formlabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formlabel input {
  align-items: center;
}
input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

input[type='submit'] {
  background-color: #005b91;
  color: white;
}

@media only screen and (max-width: 600px) {
  .formwrapper {
    width: 100%;
  }

  .formlabel {
    width: 100%;
  }
  input {
    width: 90%;
  }
}
