.Panel {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-top: 0.125rem var(--secondary-gray-color) solid;
  position: fixed;
  bottom: 0;
  width: 100%;

  .Content {
    display: flex;
    align-items: center;
    gap: var(--big-gap);
    padding: var(--micro-gap) var(--xlarge-gap);
  }

  &[data-color] {
    &[data-color='primary'] {
      background-color: var(--primary-color);
    }
    &[data-color='secondary'] {
      background-color: var(--secondary-color);
    }
    &[data-color='white'] {
      background-color: var(--white-color);
    }
    &[data-color='error'] {
      background-color: var(--error-color);
    }
    &[data-color='warning'] {
      background-color: var(--warning-color);
    }
  }
}
