.Weekdays {
  display: flex;
  gap: var(--normal-gap);
  align-content: center;

  input {
    display: none !important;
  }

  input[type='checkbox'] + label {
    display: inline-block;
    border-radius: 0;
    border: 0.2rem solid var(--text-primary-color);
    color: var(--text-primary-color);
    background: inherit;
    height: 30px;
    width: 30px;
    text-align: center;
    cursor: pointer;
  }

  input[type='checkbox']:checked + label {
    background: var(--text-primary-color);
    color: var(--white-color);
  }
}
