.product {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 50vw;

  &__addButton {
    width: 7rem;
    margin-top: 1rem;
  }
}

.productList {
  margin-top: 4rem;

  &__saveButton {
    width: 7rem;
    margin-top: 1rem;
  }
}
