.EditProductVariant {
  display: flex;
  flex-direction: column;
  gap: var(--tiny-gap);

  .titleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .infoText {
    margin-bottom: var(--small-gap);
  }
}
