.EditProductVariant {
  display: flex;
  flex-direction: column;

  .titleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      align-self: center;
      margin-left: var(--from-checkbox-gap);
    }
  }

  .infoText {
    margin-bottom: var(--small-gap);
  }
}
