.ProductVariant {
  display: flex;
  flex-direction: row;
  padding: var(--small-gap);
  background-color: var(--white-color);

  .content {
    display: flex;
    flex-direction: column;
  }
  .choose {
    align-self: center;
    margin-left: auto;
  }
}
