@import '../dfo-theme.scss';

.formwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 100px;
}

.formlabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formlabel input {
  align-items: center;
}

input[type='submit'] {
  background-color: $dfo-blue;
  color: white;
}

@media only screen and (max-width: 600px) {
  .formwrapper {
    width: 100%;
  }

  .formlabel {
    width: 100%;
  }
  input {
    width: 90%;
  }
}
