.formwrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 100px;
}

.formlabel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formlabel input{
    align-items: center;
}

input{
    width: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

input[type=submit]{
    background-color: #005b91;
    color:white;

}

@media only screen and (max-width: 600px){
    .formwrapper{
        width: 100%;
    }

    .formlabel{
        width:100%;
    }
    input{
        width: 90%;
    }


    

}