.App {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__header {
    height: 100px;
  }

  &__content {
    height: 100%;
  }

  &__footer {
    position: absolute;
    width: 100%;
  }
}

@import 'dfo-theme.module.scss';
