$dfo-blue: #005b91;
$dfo-input-background: #f2f1f9;
$dfo-light-border: 1px solid rgba(0, 0, 0, 0.125);
$dfo-white: #ffff;
$dfo-light-blue: #039fe3;
$dfo-dark-blue: #012a4c;
$dfo-error-red: #d32f2e;
$dfo-error-red-hover: #e65655;
$dfo-background-blue: #bfe7f8;

$font-family-sans-serif: Source Sans Pro;
$font-family-serif: Source Sans Pro;
$gray-100: #f7f7f7;
$gray-200: #efefef;
$gray-300: #e5e5e5;
$gray-400: #d1d1d1;
$gray-500: #c4c4c4;
$gray-600: #b5b5b5;
$gray-700: #828282;
$gray-800: #848484;
$gray-900: #333333;
$blue: #012a4c;
$black: #000000;
$lighter-blue: #02467e;
$indigo: #005b91;
$purple: #009fe3;
$pink: #e83f53;
$red: #e52036;
$yellow: #f7b715;
$secondary: $purple;
$primary: #012a4c;
$brand-primary: #012a4c;
$green: #018566;
$teal: #00ab84;
$cyan: #008ea6;
$link-hover-color: $purple;
$link-decoration: underline;
$save-green: #019b78;
$save-green-hover: #04ba91;
$success: #018566;
$silver: #bbbbbb;
$info: $purple;
$font-size-base: 0.9rem;
$h1-font-size: $font-size-base * 3;
$h3-font-size: $font-size-base * 1.8;

// Acceccible colors to be used now, even it is out-commented
// @see  https://getbootstrap.com/docs/5.0/customize/color/
/*$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);*/
/* import bootstrap to set changes */

@import '~bootstrap/scss/bootstrap';

:export {
  dfoBlue: $dfo-blue;
  dfoInputBackground: $dfo-input-background;
  dfoLightBorder: $dfo-light-border;
  dfoWhite: $dfo-white;
  dfoLightBlue: $dfo-light-blue;
  dfoDarkBlue: $dfo-dark-blue;
  dfoErrorRed: $dfo-error-red;
  dfoErrorRedHover: $dfo-error-red-hover;
  dfoBackgroundBlue: $dfo-background-blue;
  font-family-sans-serif: $font-family-sans-serif;
  font-family-serif: $font-family-serif;
  gray100: $gray-100;
  gray200: $gray-200;
  gray300: $gray-300;
  gray400: $gray-400;
  gray500: $gray-500;
  gray600: $gray-600;
  gray700: $gray-700;
  gray900: $gray-900;
  blue: $blue;
  black: $black;
  lightBlue: $lighter-blue;
  indigo: $indigo;
  purple: $purple;
  pink: $pink;
  red: $red;
  yellow: $yellow;
  secondary: $secondary;
  primary: $primary;
  brand-primary: $brand-primary;
  green: $green;
  teal: $teal;
  cyan: $cyan;
  link-hover-color: $link-hover-color;
  link-decoration: $link-decoration;
  saveGreen: $save-green;
  saveGreenHover: $save-green-hover;
  success: $success;
  silver: $silver;
  info: $info;
  font-size-base: $font-size-base;
  h1-font-size: $h1-font-size;
  h3-font-size: $h3-font-size;
}
