*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing default not inheritet, we force inheritnce*/
  box-sizing: inherit;
}
html {
}
body {
  /* fonts are inherited, therefore fonts on the body element */
  /* add padding around site*/
  /* do not add border or padding  w/hin addition to elemts w/h*/
  box-sizing: border-box;
  /* TODO: ebug with url and Bradley Hand"
   @see https://blog.hubspot.com/website/web-safe-html-css-fonts
  font-family: 'Bradley Hand', 'Times New Roman', serif; */
}

/* Following is global styles. They must be used as className="iconText" etc... */
.iconText {
  display: flex;
  align-items: center;
  svg {
    font-size: larger;
    vertical-align: sub;
  }
  span {
    margin-left: 0.5rem;
  }
}

@import '~bootstrap/scss/bootstrap';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');
