@import '../../dfo-theme.scss';

.sidebar {
  border-right: $dfo-light-border;
  background-color: $light;
  min-height: 100vh;
  &__item {
    &__active {
      color: $purple;
    }
  }
}
.headerSection {
  margin-top: 2rem;
  margin-bottom: 2rem;

  &__requirement {
    margin-top: 2rem;
  }
}

@for $i from 1 through 9 {
  $margin: 1rem * $i;
  .level#{$i} {
    margin-left: $margin;
  }
}
