@import '../../dfo-theme.scss';

.sidebar {
  border-right: $dfo-light-border;
  background-color: $light;
  &__item {
    &__active {
      color: $purple;
    }
  }
}

.headerSection {
  margin-top: 2rem;
  margin-bottom: 2rem;

  &__requirement {
    margin-top: 2rem;
  }
}
