.Footer {
  margin-top: auto;
  background: var(--primary-color);
  color: white;
  padding: 0 var(--big-gap);

  .content {
    display: grid;
    grid-template-columns: auto 33.4rem;
    grid-gap: 10rem;
    max-width: 124rem;
    margin: var(--big-gap) auto;

    span {
      font-size: var(--normal-fontsize);
    }

    a,
    a:visited,
    a:active {
      color: white;

      &:hover {
        color: var(--link-hover-color);
      }
    }

    .icon {
      display: flex;
      justify-content: flex-end;
      color: white;
    }

    .details {
      align-self: center;
    }

    .address {
      padding-top: var(--small-gap);
      padding-left: 9rem;
    }
  }
}
